@font-face {
font-family: 'notoL';
font-style: normal;
font-weight: 300;
src:url(/font/fonts/NotoSans-Light.woff2) format('woff2'),
	url(/font/fonts/NotoSans-Light.woff) format('woff'),
	url(/font/fonts/NotoSans-Light.eot) format('opentype');
}
@font-face {
font-family: 'notoR';
font-style: normal;
font-weight: 400;
src:url(/font/fonts/NotoSans-Regular.woff2) format('woff2'),
	url(/font/fonts/NotoSans-Regular.woff) format('woff'),
	url(/font/fonts/NotoSans-Regular.eot) format('opentype');
}
@font-face {
font-family: 'notoT';
font-style: normal;
font-weight: 500;
src:url(/font/fonts/NotoSans-Thin.woff2) format('woff2'),
	url(/font/fonts/NotoSans-Thin.woff) format('woff'),
	url(/font/fonts/NotoSans-Thin.eot) format('opentype');
}
